@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@700&family=Oswald:wght@700&display=swap');

#published   {color: black;}

body {background-color: #ffffdd; margin: 0px; overflow-y: scroll;}

header{ width: 760px; margin: auto;}

h1, h2{padding: 10px; margin: 0px;background-color: lightgreen;}

h1 {font-size: 35px; font-weight: 700;
	font-family: 'Oswald', 'Noto Sans JP', sans-serif;}

h1 a:link {color:black;}
h1 a:visited {color:black;}
h1 a {text-decoration: none}

h1.A{font-size: 30px;
	margin-top: 20px; background-color: orange;
border-radius: 10px;}

h2.B{margin-top: 10px; background-color:  #ffffdd;
text-align: left;}

h2, h3, h4, h5, p{font-family: sans-serif;}

h2 {font-size: 18px; text-align: right;}

h3, h4 {margin-top: 10px; margin-bottom: 10px;}

h3 {font-size: 18px; text-align: center;}

h4 {font-size: 16px;}

p {
	font-size:14px;
	padding-bottom: 10px;
	padding-left: 20px;
	margin: auto;
}

div{box-sizing: border-box;}

div.shousai{width: 760px; margin: auto;}

aside {width: 250px; float: left;}

nav.shou{
		background-color: lightblue;
		border-radius: 10px;
}

article {width: 500px; float: left;}

section {margin-left: 10px;}

div.map{margin-left: auto;}

nav.namae {
	margin: auto;
	background-color: lightgreen;
	border-radius: 10px;
	padding: 10px;
}

div.1 {
	width: 500px;
	margin: auto;
	padding: 10px;
	background-color: orange;
	border-radius: 10px;
}

div.2 {
	width: 500px;
	margin: auto;
	padding: 10px;
}


nav.C {border-radius: 10px;
background-color: #ffe0b6;
}

ul.sonota{
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 20px;
	padding-left: 30px;
	margin: auto;
	list-style-type: square;
}

img {width: 500px; height: 500px;}

figure {
	text-align: center;
	margin-top: 30px;
	margin-bottom: 30px;
	margin-left: 0px;
	margin-right: 0px;
}
© 2021 GitHub, Inc.
